<ul class="phones">

  <% phones.forEach(function(phone) {%>

  <li class="thumbnail phone-item" data-element="phone" data-phone-id="<%= phone.id %>">
    <a class="thumb phone-item__img" href="#/phones/<%= phone.id %>" data-element="phoneLink">
      <img src="<%= phone.imageUrl %>" alt="<%- phone.name %>">
    </a>
    <a class="phone-item__title" href="#/phones/<%= phone.id %>" data-element="phoneLink"><%= phone.name %></a>
    <p class="phone-item__description"><%- phone.snippet %></p>
  </li>

  <% }); %>
</ul>